<!DOCTYPE html>
<html amp lang="<%= language %>">
  <head>
    <title><%= serverMetas.title %></title>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <link rel="icon" href="<%= thread.favicon %>" />
    <link rel="shortcut icon" href="<%= thread.favicon %>" />
    <link rel="manifest" href="https://<%= domain %>/manifest.json" />
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
      function parseJwt(token) {
        var base64Url = token.split('.')[1];
        var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
        var jsonPayload = decodeURIComponent(
          atob(base64)
            .split('')
            .map(function (c) {
              return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
            })
            .join('')
        );

        return JSON.parse(jsonPayload);
      }
      function handleCredentialResponse(response) {
        // Here we can do whatever process with the response we want
        // Note that response.credential is a JWT ID token
        console.log(parseJwt(response.credential));
      }
      /*
            window.onload = () => {
              const login_uri = location.href + ;
              console.log('@@@ login_uri', login_uri);
              google.accounts.id.initialize({
                client_id: '429873683760-v2hk18nua5vgf37ae0ovuhfbdrmah42d.apps.googleusercontent.com',
                login_uri,
              });
              google.accounts.id.renderButton(
                document.getElementById('buttonDiv'), // Ensure the element exist and it is a div to display correcctly
                { theme: 'outline', size: 'large' } // Customization attributes
              );

              //google.accounts.id.prompt(); // Display the One Tap dialog
            }
*/
    </script>
    <script id="assignVariable" type="text/javascript">
      if (location.pathname === '/') {
        window.talknSelectContentMenu = 'business';
      } else {
        const splited = location.pathname.split('/');
        if (splited.length === 2) {
          window.talknSelectContentMenu = splited[1];
        } else {
          window.talknSelectContentMenu = splited[2] !== '' ? splited[2] : 'business';
        }
      }
      window.talknPayload = JSON.parse('<%= JSON.stringify(payload) %>'.replace(/&#34;/g, '"'));
      window.talknCreators = JSON.parse('<%= JSON.stringify(creators) %>'.replace(/&#34;/g, '"'));
      window.talknConfig = JSON.parse('<%= JSON.stringify(config) %>'.replace(/&#34;/g, '"'));
      window.talknThread = JSON.parse('<%= JSON.stringify(thread) %>'.replace(/&#34;/g, '"'));
      window.talknServerMetas = JSON.parse('<%= JSON.stringify(serverMetas) %>'.replace(/&#34;/g, '"'));
      window.talknTags = JSON.parse('<%= JSON.stringify(tags) %>'.replace(/&#34;/g, '"'));
      document.querySelector('#assignVariable').remove();
    </script>

    <script id="talknTop" async type="text/javascript" src="https://<%= coverURL %>/talkn.cover.js"></script>
    <script id="talknComponents" async type="text/javascript" src="https://<%= componentsURL %>/talkn.components.js"></script>
    <script type="text/javascript" async src="//<%= extURL %>"></script>
    <script type="text/javascript">
      const onServiceWorker = () => {
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker
            .register('/service.worker.js')
            .then(function (registration) {
              console.log('[ ServiceWorker] suscessful: ', registration.scope);
            })
            .catch(function (err) {
              console.log('[ServiceWorker] failed: ', err);
            });
        }
      };

      onServiceWorker();
    </script>
    <noscript key="noscript">Your browser does not support JavaScript!</noscript>
    <style amp-boilerplate>
      body {
        -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      }
      @-webkit-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-moz-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-ms-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-o-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @keyframes logo {
        0% {
          transform: scale(1) translate3d(0px, 0px, 0px);
          opacity: 1;
        }
        50% {
          transform: scale(0.9) translate3d(0px, 0px, 0px);
          opacity: 1;
        }
        100% {
          transform: scale(1) translate3d(0px, 0px, 0px);
          opacity: 1;
        }
      }
      /*
      #talkn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background: url('https://<%= assetsURL %>/logo1.png') 50% 40% / 128px no-repeat;
        animation-name: logo;
        animation-duration: 1500ms;
        animation-iteration-count: infinite;
        transition: 600ms;
      }
      */
      #secret {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: #fff;
        z-index: 2147483647;
      }
    </style>
    <noscript>
      <style amp-boilerplate>
        body {
          -webkit-animation: none;
          -moz-animation: none;
          -ms-animation: none;
          animation: none;
        }
      </style>
    </noscript>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta property="keywords" content="<%= thread.serverMetas.keywords %>" />
    <meta property="description" content="<%= thread.serverMetas.description %>" />
    <meta property="og:type" content="<%= thread.serverMetas['og:type'] %>" />
    <meta property="og:title" content="<%= thread.serverMetas['og:title'] %>" />
    <meta property="og:url" content="https://cover.talkn.io<%= thread['ch'] %>" />
    <meta property="og:description" content="<%= thread.serverMetas['og:description'] %>" />
    <meta property="og:image" content="<%= thread.serverMetas['og:image'] %>" />
    <meta property="og:site_name" content="<%= thread.serverMetas['og:site_name'] %>" />

    <meta name="twitter:card" content="<%= thread.serverMetas['twitter:card'] %>" />
    <meta name="twitter:title" content="<%= thread.serverMetas['twitter:title'] %>" />
    <meta name="twitter:description" content="<%= thread.serverMetas['twitter:description'] %>" />
    <meta name="twitter:image" content="<%= thread.serverMetas['twitter:image'] %>" />
    <link rel="stylesheet" href="https://assets.talkn.io/cover/interview/default.css" />
  </head>
  <body>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&autoLogAppEvents=1&version=v3.3&appId=1655931587827697"
    ></script>
    <div
      id="g_id_onload"
      data-client_id="429873683760-v2hk18nua5vgf37ae0ovuhfbdrmah42d.apps.googleusercontent.com"
      data-login_uri="https://cover.talkn.io/login"
    ></div>

    <!--
    <div id="talkn"></div>
    -->
  </body>
</html>
