<!DOCTYPE html>
<html amp lang="<%= language %>">
  <head>
    <title>talkn</title>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <link rel="manifest" href="https://<%= domain %>/manifest.json" />
    <script type="text/javascript">
      function promptPromise(message) {
        return new Promise(function (resolve, reject) {
          var result = window.prompt(message);
          console.log(result, result === '1090', typeof result);
          if (result === '1090') {
            resolve(result);
          } else {
            reject(new Error('User cancelled'));
          }
        });
      }

      window.addEventListener('load', () => {
        promptPromise('What is your name?').then(function (name) {
          document.querySelector('#secret').remove();
        });
      });
    </script>
    <script id="talknTop" async type="text/javascript" src="https://<%= coverURL %>/talkn.cover.js"></script>
    <script type="text/javascript" async src="//<%= extURL %>"></script>
    <script type="text/javascript">
      const onServiceWorker = () => {
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker
            .register('/service.worker.js')
            .then(function (registration) {
              console.log('[ ServiceWorker] suscessful: ', registration.scope);
            })
            .catch(function (err) {
              console.log('[ServiceWorker] failed: ', err);
            });
        }
      };

      onServiceWorker();
    </script>
    <noscript key="noscript">Your browser does not support JavaScript!</noscript>
    <style amp-boilerplate>
      body {
        -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      }
      @-webkit-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-moz-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-ms-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-o-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @keyframes logo {
        0% {
          transform: scale(1) translate3d(0px, 0px, 0px);
          opacity: 1;
        }
        50% {
          transform: scale(0.9) translate3d(0px, 0px, 0px);
          opacity: 1;
        }
        100% {
          transform: scale(1) translate3d(0px, 0px, 0px);
          opacity: 1;
        }
      }
      #talkn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background: url('https://<%= assetsURL %>/logo1.png') 50% 40% / 128px no-repeat;
        animation-name: logo;
        animation-duration: 1500ms;
        animation-iteration-count: infinite;
        transition: 600ms;
      }
      #secret {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: #fff;
        z-index: 2147483647;
      }
    </style>
    <noscript>
      <style amp-boilerplate>
        body {
          -webkit-animation: none;
          -moz-animation: none;
          -ms-animation: none;
          animation: none;
        }
      </style>
    </noscript>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta
      property="keywords"
      content="salesforce導入, セールスフォース開発, マーケティングオートメーション, デジタルマーケティング, 名刺管理,"
    />
    <meta
      property="description"
      content="サンブリッジはSalesforce、マーケティングオートメーション、名刺管理の導入、連携を通して営業・マーケティング課題の解決を支援します。"
    />
    <meta property="og:url" content="https://cover.talkn.io/www.sunbridge.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="株式会社サンブリッジ｜Salesforce開発・マーケティングオートメーション・名刺管理 導入活用支援" />
    <meta property="og:image" content="https://www.sunbridge.com/wp-content/uploads/ogp_default.jpg" data-react-helmet="true" />
    <meta
      property="og:description"
      content="Salesforce開発・マーケティングオートメーション・名刺管理 導入活用支援"
      data-react-helmet="true"
    />
    <meta property="twitter:card" content="summary" data-react-helmet="true" />
    <meta
      property="twitter:title"
      content="株式会社サンブリッジ｜Salesforce開発・マーケティングオートメーション・名刺管理 導入活用支援"
      data-react-helmet="true"
    />
    <meta
      property="twitter:description"
      content="Salesforce開発・マーケティングオートメーション・名刺管理 導入活用支援"
      data-react-helmet="true"
    />
    <meta property="twitter:image" content="https://www.sunbridge.com/wp-content/uploads/ogp_default.jpg" data-react-helmet="true" />
  </head>
  <body>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&autoLogAppEvents=1&version=v3.3&appId=1655931587827697"
    ></script>
    <div id="talkn"></div>
    <div id="secret"></div>
  </body>
</html>
