<!DOCTYPE html>
<html amp lang="<%= language %>">
  <head>
    <title><%= serverMetas.title %></title>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <link rel="icon" href="<%= thread.favicon %>" />
    <link rel="shortcut icon" href="<%= thread.favicon %>" />
    <link rel="manifest" href="https://<%= domain %>/manifest.json" />
    <script id="assignVariable" type="text/javascript">
      if (location.pathname === '/') {
        window.talknSelectContentMenu = 'business';
      } else {
        const splited = location.pathname.split('/');
        if (splited.length === 2) {
          window.talknSelectContentMenu = splited[1];
        } else {
          window.talknSelectContentMenu = splited[2] !== '' ? splited[2] : 'business';
        }
      }
      window.talknPayload = JSON.parse('<%= JSON.stringify(payload) %>'.replace(/&#34;/g, '"'));
      window.talknCreators = JSON.parse('<%= JSON.stringify(creators) %>'.replace(/&#34;/g, '"'));
      window.talknConfig = JSON.parse('<%= JSON.stringify(config) %>'.replace(/&#34;/g, '"'));
      window.talknThread = JSON.parse('<%= JSON.stringify(thread) %>'.replace(/&#34;/g, '"'));
      window.talknServerMetas = JSON.parse('<%= JSON.stringify(serverMetas) %>'.replace(/&#34;/g, '"'));
      window.talknTags = JSON.parse('<%= JSON.stringify(tags) %>'.replace(/&#34;/g, '"'));
      document.querySelector('#assignVariable').remove();
    </script>

    <script id="talknTop" async type="text/javascript" src="https://<%= coverURL %>/talkn.cover.js"></script>
    <script id="talknComponents" async type="text/javascript" src="https://<%= componentsURL %>/talkn.components.js"></script>
    <!--script type="text/javascript" async src="//<%= extURL %>"></script -->
    <script type="text/javascript">
      const onServiceWorker = () => {
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker
            .register('/service.worker.js')
            .then(function (registration) {
              console.log('[ ServiceWorker] suscessful: ', registration.scope);
            })
            .catch(function (err) {
              console.log('[ServiceWorker] failed: ', err);
            });
        }
      };

      onServiceWorker();
    </script>
    <noscript key="noscript">Your browser does not support JavaScript!</noscript>
    <style amp-boilerplate>
      body {
        -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      }
      @-webkit-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-moz-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-ms-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-o-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @keyframes logo {
        0% {
          transform: scale(1) translate3d(0px, 0px, 0px);
          opacity: 1;
        }
        50% {
          transform: scale(0.9) translate3d(0px, 0px, 0px);
          opacity: 1;
        }
        100% {
          transform: scale(1) translate3d(0px, 0px, 0px);
          opacity: 1;
        }
      }
      /*
      #talkn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background: url('https://<%= assetsURL %>/logo1.png') 50% 40% / 128px no-repeat;
        animation-name: logo;
        animation-duration: 1500ms;
        animation-iteration-count: infinite;
        transition: 600ms;
      }
      */
      #secret {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: #fff;
        z-index: 2147483647;
      }
    </style>
    <noscript>
      <style amp-boilerplate>
        body {
          -webkit-animation: none;
          -moz-animation: none;
          -ms-animation: none;
          animation: none;
        }
      </style>
    </noscript>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta property="keywords" content="<%= thread.serverMetas.keywords %>" />
    <meta property="description" content="<%= thread.serverMetas.description %>" />
    <meta property="og:type" content="<%= thread.serverMetas['og:type'] %>" />
    <meta property="og:title" content="<%= thread.serverMetas['og:title'] %>" />
    <meta property="og:url" content="https://cover.talkn.io<%= thread['ch'] %>" />
    <meta property="og:description" content="<%= thread.serverMetas['og:description'] %>" />
    <meta property="og:image" content="<%= thread.serverMetas['og:image'] %>" />
    <meta property="og:site_name" content="<%= thread.serverMetas['og:site_name'] %>" />

    <meta name="twitter:card" content="<%= thread.serverMetas['twitter:card'] %>" />
    <meta name="twitter:title" content="<%= thread.serverMetas['twitter:title'] %>" />
    <meta name="twitter:description" content="<%= thread.serverMetas['twitter:description'] %>" />
    <meta name="twitter:image" content="<%= thread.serverMetas['twitter:image'] %>" />
    <link rel="stylesheet" href="https://assets.talkn.io/cover/interview/default.css" />
    <script src="https://accounts.google.com/gsi/client" async defer></script>
  </head>
  <body>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&autoLogAppEvents=1&version=v3.3&appId=1655931587827697"
    ></script>

    <!--
    <div
      id="g_id_onload"
      data-client_id="429873683760-v2hk18nua5vgf37ae0ovuhfbdrmah42d.apps.googleusercontent.com"
      data-callback="handleCredentialResponse"
    ></div>
    -->
    <div>
      <div id="googleLogin">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="LgbsSe-Bz112c">
          <g>
            <path
              fill="#EA4335"
              d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"
            ></path>
            <path
              fill="#4285F4"
              d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"
            ></path>
            <path
              fill="#FBBC05"
              d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"
            ></path>
            <path
              fill="#34A853"
              d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"
            ></path>
            <path fill="none" d="M0 0h48v48H0z"></path>
          </g>
        </svg>
      </div>

      <div id="googleAccount" width="38" height="38"></div>
    </div>
    <!--
    <div id="talkn"></div>
    -->
  </body>
  <script>
    const parseJwt = (token) => {
      const base64Url = token.split('.')[1];
      const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
      const jsonPayload = decodeURIComponent(
        atob(base64)
          .split('')
          .map((c) => {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
          })
          .join('')
      );
      return JSON.parse(jsonPayload);
    };
    const handleCredentialResponse = (response) => {
      console.log('handleCredentialResponse', response);
      localStorage.setItem('talknCoverSession', response.credential);
    };

    const session = localStorage.getItem('talknCoverSession');
    console.log('session', session);

    window.onload = () => {
      google.accounts.id.initialize({
        client_id: '429873683760-v2hk18nua5vgf37ae0ovuhfbdrmah42d.apps.googleusercontent.com',
        callback: handleCredentialResponse,
      });

      google.accounts.id.renderButton(document.getElementById('googleLogin'), {
        theme: 'outline',
        type: 'icon',
        size: 'large',
        shape: 'pill',
      });
    };

    if (session !== null) {
      const googleLogin = document.getElementById('googleLogin');
      const googleAccount = document.getElementById('googleAccount');
      const sessionDatas = parseJwt(session);
      /*
          googleLogin.style.display = 'none';
          googleAccount.style.backgroundImage = `url(${sessionDatas.picture})`;
          googleAccount.style.backgroundSize = '38px';
          googleAccount.style.width = '38px';
          googleAccount.style.height = '38px';
          googleAccount.style.borderRadius = '50%';
    */
      googleAccount.onclick = () => {
        google.accounts.id.prompt();
      };
    }
  </script>
</html>
