<!doctype html>
<html lang=<%= language%>>
<head>
<title>新垣結衣『逃げ恥』ドラマが続編決定と報道　妊娠・出産を描く第2弾</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta content="Comment to web. talkn can share comments with users watching the same web page. Please enjoy the world of talkn." name="description">
<meta name="theme-color" content="rgb(79, 174, 159)">

<meta property="og:title" content="talkn">
<meta property="og:type" content="website">
<meta property="og:url" content="https://<%= domain %>">
<meta property="og:image" content="https://<%= assetsURL %>/www/img1min.jpg">
<meta property="og:site_name" content="talkn">
<meta property="og:description" content="talkn can share comments with users watching the same WEB page. Please enjoy the world of fun talkn.">
<meta property="fb:page_id" content="641091596303567">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@IoTalkn">
<meta name="twitter:url" content="https://<%= domain %>">
<meta name="twitter:title" content="talkn">
<meta name="twitter:description" content="talkn can share comments with users watching the same WEB page. Please enjoy the world of fun talkn.">
<meta name="twitter:image" content="https://<%= assetsURL %>/www/img1min.jpg">
<link rel="stylesheet" href="https://www.excite.co.jp/news/css/app.css?id=d1194a10cc10813dc9ca">
<link rel="manifest" href="/manifest.json">
<link rel="canonical" href="https://<%= apiURL %>/">
<script type="text/javascript" async src="//<%= extURL %>"></script>
<script type="text/javascript" async src="//<%= bannerURL %>"></script>
<script async type="text/javascript" src="https://<%= apiAccessURL %>"></script>
</head>
<body>
    <header class="header">
<div class="logo-wrap"><b>talkn news</b></div>

<div class="nav-drawer">
<div class="nav-content">
    <ul>
        <li><a href="https://www.excite.co.jp/news/">トップ</a></li>
                                                <li>
                                    <a href="https://www.excite.co.jp/news/domestic-topic/" onclick="gtag('event', 'click', {'event_category': 'menu', 'event_label': 'domestic-topic', 'non_interaction': true});">国内</a>
            </li>
                                                                    <li>
                                    <a href="https://www.excite.co.jp/news/world-topic/" onclick="gtag('event', 'click', {'event_category': 'menu', 'event_label': 'world-topic', 'non_interaction': true});">海外</a>
            </li>
                                                                    <li>
                                    <a href="https://www.excite.co.jp/news/entertainment-topic/" onclick="gtag('event', 'click', {'event_category': 'menu', 'event_label': 'entertainment-topic', 'non_interaction': true});">芸能</a>
            </li>
                                                                    <li>
                                    <a href="https://www.excite.co.jp/news/sports-topic/" onclick="gtag('event', 'click', {'event_category': 'menu', 'event_label': 'sports-topic', 'non_interaction': true});">スポーツ</a>
            </li>
                                                                    <li>
                                    <a href="https://www.excite.co.jp/news/trend-topic/" onclick="gtag('event', 'click', {'event_category': 'menu', 'event_label': 'trend-topic', 'non_interaction': true});">トレンド</a>
            </li>
                                                                    <li>
                                    <a href="https://www.excite.co.jp/news/omoshiro-topic/" onclick="gtag('event', 'click', {'event_category': 'menu', 'event_label': 'omoshiro-topic', 'non_interaction': true});">おもしろ</a>
            </li>
                                                                    <li>
                                    <a href="https://www.excite.co.jp/news/column-topic/" onclick="gtag('event', 'click', {'event_category': 'menu', 'event_label': 'column-topic', 'non_interaction': true});">コラム</a>
            </li>
                                    <li><a href="https://www.excite.co.jp/news/feature/" onclick="gtag('event', 'click', {'event_category': 'menu', 'event_label': 'feature', 'non_interaction': true});">特集・インタビュー</a></li>
                                                                    <li>
                                    <a href="https://www.excite.co.jp/news/view-ranking/" onclick="gtag('event', 'click', {'event_category': 'menu', 'event_label': 'rank', 'non_interaction': true});">ランキング</a>
            </li>
                                                                    <li class="nav-separater">
                                    <a href="https://www.excite.co.jp/news/today/" onclick="gtag('event', 'click', {'event_category': 'menu', 'event_label': 'today', 'non_interaction': true});">今日のニュース</a>
            </li>
                                            <li><a href="https://www.excite.co.jp/news/source/" onclick="gtag('event', 'click', {'event_category': 'menu', 'event_label': 'media', 'non_interaction': true});">メディア一覧</a></li>
        <li><a href="https://www.excite.co.jp/news/tag/" onclick="gtag('event', 'click', {'event_category': 'menu', 'event_label': 'keyword', 'non_interaction': true});">キーワード一覧</a></li>
        <li class="nav-separater"><a href="https://www.excite.co.jp/news/comment/" onclick="gtag('event', 'click', {'event_category': 'menu', 'event_label': 'comment', 'non_interaction': true});">コメント一覧</a></li>
        <li><a href="https://help.excite.co.jp/hc/ja" onclick="gtag('event', 'click', {'event_category': 'menu', 'event_label': 'help', 'non_interaction': true});">ヘルプ/お問い合わせ</a></li>
        <li><a href="http://corp.excite.co.jp/outline/" onclick="gtag('event', 'click', {'event_category': 'menu', 'event_label': 'company', 'non_interaction': true});">会社概要</a></li>
        <li><a href="https://protection.excite.co.jp/" onclick="gtag('event', 'click', {'event_category': 'menu', 'event_label': 'personal-info', 'non_interaction': true});">個人情報保護</a></li>
        <li><a href="https://cookie.excite.co.jp/" onclick="gtag('event', 'click', {'event_category': 'menu', 'event_label': 'information', 'non_interaction': true});">情報取得について</a></li>
        <li><a href="https://disclaimer.excite.co.jp/" onclick="gtag('event', 'click', {'event_category': 'menu', 'event_label': 'disclaimer', 'non_interaction': true});">免責事項</a></li>
        <li><a href="https://www.excite.co.jp/" onclick="gtag('event', 'click', {'event_category': 'menu', 'event_label': 'excitetop', 'non_interaction': true});">エキサイト</a></li>
    </ul>
</div>
</div>
</header>
    <nav class="breadcrumb" aria-label="breadcrumb">
<ol class="breadcrumb-list" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item" href="https://www.excite.co.jp/news/" onclick="gtag('event', 'click', {'event_category': 'header', 'event_label': 'breadcrumb-1', 'non_interaction': true});"><span itemprop="name">ニュース</span></a><meta itemprop="position" content="1"></li>
                                                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item" href="https://www.excite.co.jp/news/column-topic/" onclick="gtag('event', 'click', {'event_category': 'header', 'event_label': 'breadcrumb-2', 'non_interaction': true});"><span itemprop="name">コラム</span></a><meta itemprop="position" content="2"></li>
                                                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item" href="https://www.excite.co.jp/news/lifestyle/" onclick="gtag('event', 'click', {'event_category': 'header', 'event_label': 'breadcrumb-3', 'non_interaction': true});"><span itemprop="name">ライフスタイル</span></a><meta itemprop="position" content="3"></li>
                                                                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><span itemprop="name">新垣結衣『逃げ恥』ドラマが続編決定と報道　妊娠・出産を描く第2弾</span><meta itemprop="position" content="4"></li>
                </ol>
</nav>
                <main role="main">
        
<div class="article">
    <div class="article-header">
    <h1 class="article-title">新垣結衣『逃げ恥』ドラマが続編決定と報道　妊娠・出産を描く第2弾</h1>
                            <div class="article-info">
        
        
                        
                                    <a href="http://wezz-y.com" target="_blank" rel="nofollow" class="source-media">
                    
                    <img src="https://s.eximg.jp/exnews/logo/logo-wezzy.jpg" alt="wezzy" class="source-logo">
                </a>
                                            <div class="article-status">
            <div class="fl">
                
                                        <time datetime="2020-06-26T07:00:00+09:00" itemprop="datePublished">2020年6月26日 07:00</time>
                                            <a href="https://www.excite.co.jp/news/article-comment/Wezzy_78325/#post-spot" rel="nofollow">
                        <span class="parts parts-comment"><span class="icon-comment"></span>0</span>
                    </a>
                                    </div>
                        </div>
    </div>
</div>

            <div id="gpt_sp_news_billboard" style="" data-google-query-id="CLjw6rbliuwCFRcaYAodWKIGeg"><div id="google_ads_iframe_/18333008/SP_news_billboard_0__container__" style="border: 0pt none; margin: auto; text-align: center; width: 320px; height: 50px;"><iframe frameborder="0" src="https://5e6facf765c5b9e9b3e4ebecf03d6446.safeframe.googlesyndication.com/safeframe/1-0-37/html/container.html" id="google_ads_iframe_/18333008/SP_news_billboard_0" title="3rd party ad content" name="" scrolling="no" marginwidth="0" marginheight="0" width="320" height="50" data-is-safeframe="true" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" data-google-container-id="1" style="border: 0px; vertical-align: bottom;" data-load-complete="true"></iframe></div></div>
        <div class="article-body">
    
    
　　　　　　　
    
    <div class="story">
        <script src="/news/js/first-page-link.js" defer=""></script>
        <p>                </p><div class="storyImg">
            <img class="image" src="//imgc.eximg.jp/i=https%253A%252F%252Fs.eximg.jp%252Fexnews%252Ffeed%252FWezzy%252FWezzy_78325_10c4_1.jpg,quality=70,type=jpg" alt="新垣結衣『逃げ恥』ドラマが続編決定と報道　妊娠・出産を描く第2弾">
            
        </div> 『逃げるは恥だが役に立つ』公式サイトより<p></p><p>　約2年ぶりの連続ドラマとなる『親バカ青春白書』（日本テレビ系）への出演が発表された新垣結衣。それに続き、主演ドラマ『逃げるは恥だが役に立つ』（TBS系）の続編制作も決定したという。</p><p>　「女性セブン」2020年7月9日号（小学館）によると、新垣は2018年に主演したドラマ『獣になれない私たち』（日本テレビ系）のオファーを引き受けた時から、無期限のドラマ出演休養を申し出ていたという。当時、新垣は30歳。結婚願望も重なったそうだ。2年弱の休養を経て、このたび『逃げ恥』続編への出演を決断したという。</p><p>　TBSは＜発表されていないスケジュールに関しては、お答えできません＞とコメントしているものの、同誌によれば「おそらく、みくりちゃんの妊娠・出産が描かれる」「早ければ秋のスペシャルドラマ」とのことだ。</p><p>　『逃げ恥』は非常にファンの多いドラマで、つい先頃の再放送も二桁視聴率を記録したほど。ファンにとっては朗報だろう。</p><h3>『逃げ恥』再放送でも世界トレンド1位</h3><p>　2016年に連ドラとして放送された『逃げるは恥だが役に立つ』は、平均視聴率14.5%、最高視聴率20.8%（関東地区、ビデオサーチ調べ）を記録し、社会現象となった。ヒートアップしすぎて、主演の新垣結衣と星野源がプライベートでも付き合っているという噂も出たほどだ。ちなみに、星野が新垣の住むマンションに引っ越したとの報道もあったものの、二人の熱愛の真相は不明のまま。</p><br><div class="pager-Nextpage" id="pager-Nextpage"><a class="pager-NextpageLink" href="https://www.excite.co.jp/news/article/Wezzy_78325/?p=2" onclick="gtag('event', 'click', {'event_category': 'article-page', 'event_label': 'article-next-pager', 'non_interaction': true});" data-vivaldi-spatnav-clickable="1">【次のページ】　前述のように、新型コロナウイルスの影響で新ドラマの撮影がストップしたた...</a></div>
    </div>

                <nav>
<ul class="pagination-list">

    <li>

            <a class="is-current">1</a>

        </li>
    <li>

            <a href="https://www.excite.co.jp/news/article/Wezzy_78325/?p=2">2</a>
        </li>

                        </ul>
</nav>
</div>


<div class="share">
    <ul class="sns-share">
        <li>
            <a href="https://twitter.com/share?count=horizontal&amp;original_referer=https%3A%2F%2Fwww.excite.co.jp%2Fnews%2Farticle%2FWezzy_78325&amp;text=%E6%96%B0%E5%9E%A3%E7%B5%90%E8%A1%A3%E3%80%8E%E9%80%83%E3%81%92%E6%81%A5%E3%80%8F%E3%83%89%E3%83%A9%E3%83%9E%E3%81%8C%E7%B6%9A%E7%B7%A8%E6%B1%BA%E5%AE%9A%E3%81%A8%E5%A0%B1%E9%81%93%E3%80%80%E5%A6%8A%E5%A8%A0%E3%83%BB%E5%87%BA%E7%94%A3%E3%82%92%E6%8F%8F%E3%81%8F%E7%AC%AC2%E5%BC%BE%20%282020%E5%B9%B46%E6%9C%8826%E6%97%A5%29%20-%20%E3%82%A8%E3%82%AD%E3%82%B5%E3%82%A4%E3%83%88%E3%83%8B%E3%83%A5%E3%83%BC%E3%82%B9&amp;url=https%3A%2F%2Fwww.excite.co.jp%2Fnews%2Farticle%2FWezzy_78325%2F&amp;via=ExciteJapan" rel="nofollow" onclick="gtag('event', 'click', {'event_category': 'article-page', 'event_label': 'social-bottom-twitter', 'non_interaction': true});">
                <div class="share-button share-twitter"><span>Twitterでシェア</span></div>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.excite.co.jp%2Fnews%2Farticle%2FWezzy_78325%2F" rel="nofollow" onclick="gtag('event', 'click', {'event_category': 'article-page', 'event_label': 'social-bottom-facebook', 'non_interaction': true});">
                <div class="share-button share-facebook"><span>Facebookでシェア</span></div>
            </a>
        </li>
    </ul>
    <div data-href="https://news.<%= domain %>/detail" class="talkn_banner" style="position: relative; top: -10px;"></div>
</div>
</body>
</html>