<!DOCTYPE html>
<html lang="<%= language %>">
  <head>
    <title>talkn</title>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <meta
      content="Comment to web. talkn can share comments with users watching the same web page. Please enjoy the world of talkn."
      name="description"
    />
    <meta name="theme-color" content="rgb(79, 174, 159)" />

    <meta property="og:title" content="talkn" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://<%= domain %>" />
    <meta property="og:image" content="https://<%= assetsURL %>/www/img1min.jpg" />
    <meta property="og:site_name" content="talkn" />
    <meta
      property="og:description"
      content="talkn can share comments with users watching the same WEB page. Please enjoy the world of fun talkn."
    />
    <meta property="fb:page_id" content="641091596303567" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@IoTalkn" />
    <meta name="twitter:url" content="https://<%= domain %>" />
    <meta name="twitter:title" content="talkn" />
    <meta
      name="twitter:description"
      content="talkn can share comments with users watching the same WEB page. Please enjoy the world of fun talkn."
    />
    <meta name="twitter:image" content="https://<%= assetsURL %>/www/img1min.jpg" />
    <link rel="stylesheet" href="https://www.excite.co.jp/news/css/app.css?id=d1194a10cc10813dc9ca" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="canonical" href="https://<%= apiURL %>/" />
    <script type="text/javascript" async src="//<%= extURL %>"></script>
    <script async type="text/javascript" src="https://<%= apiAccessURL %>"></script>
    <style>
      header {
        position: fixed;
        top: 0;
        width: 100%;
        background: #fff;
        text-align: center;
        border-bottom: 1px solid rgba(210, 210, 210, 1);
        z-index: 1000;
      }

      ul.list {
        margin-top: 52px;
      }
    </style>
  </head>
  <body style="overflow: inherit; width: inherit; height: inherit; margin: 0 auto">
    <section>
      <header>
        <h2 class="default-title">talkn@news</h2>
      </header>
      <ul class="list">
        <li class="list-item list-ranking">
          <a href="https://<%= newsURL %>/detail" class="list-a">
            <div class="item_number">1</div>
            <div class="list-img">
              <img src="1.jpg" alt="BUMP OF CHICKEN、直井由文の活動休止発表　不倫報道受け　当面は3人で活動" />
            </div>
            <div class="list-body">
              <p class="title">BUMP OF CHICKEN、直井由文の活動休止発表　不倫報道受け　当面は3人で活動</p>
            </div>
          </a>
        </li>

        <li class="list-item"><div id="gpt_sp_news_ranking_infeed01"></div></li>
        <li class="list-item list-ranking">
          <a href="https://<%= newsURL %>/detail" class="list-a">
            <div class="item_number">2</div>
            <div class="list-img">
              <img src="2.jpg" alt="高橋克実『グッディ』最終回は笑顔で 安藤優子と視聴者に感謝伝える" />
            </div>
            <div class="list-body">
              <p class="title">高橋克実『グッディ』最終回は笑顔で 安藤優子と視聴者に感謝伝える</p>
            </div>
          </a>
        </li>

        <li class="list-item list-ranking">
          <a href="https://<%= newsURL %>/detail" class="list-a">
            <div class="item_number">3</div>
            <div class="list-img">
              <img src="3.jpg" alt="つんく♂×ソニン、17年ぶり再タッグ　「カレーライスの女」続編" />
            </div>
            <div class="list-body">
              <p class="title">つんく♂×ソニン、17年ぶり再タッグ　「カレーライスの女」続編</p>
            </div>
          </a>
        </li>

        <li class="list-item list-ranking">
          <a href="https://<%= newsURL %>/detail" class="list-a">
            <div class="item_number">4</div>
            <div class="list-img">
              <img src="4.jpg" alt="瀬戸大也、不倫相手の美人CA は「人気ジャニーズの妹」だった" />
            </div>
            <div class="list-body">
              <p class="title">瀬戸大也、不倫相手の美人CA は「人気ジャニーズの妹」だった</p>
            </div>
          </a>
        </li>

        <li class="list-item"><div id="gpt_sp_news_ranking_infeed02"></div></li>
        <li class="list-item list-ranking">
          <a href="https://<%= newsURL %>/detail" class="list-a">
            <div class="item_number">5</div>
            <div class="list-img">
              <img
                src="5.jpg"
                alt="テレビ東京崩壊の危機？ 森香澄アナと池谷実悠アナの音声流出でアナウンサー大量離脱か"
              />
            </div>
            <div class="list-body">
              <p class="title">テレビ東京崩壊の危機？ 森香澄アナと池谷実悠アナの音声流出でアナウンサー大量離脱か</p>
            </div>
          </a>
        </li>

        <li class="list-item list-ranking">
          <a href="https://<%= newsURL %>/detail" class="list-a">
            <div class="item_number">6</div>
            <div class="list-img">
              <img src="6.jpg" alt="江口洋介が「あさイチ」で子育て語る 妻・森高千里の力が大きい" />
            </div>
            <div class="list-body">
              <p class="title">江口洋介が「あさイチ」で子育て語る 妻・森高千里の力が大きい</p>
            </div>
          </a>
        </li>

        <li class="list-item list-ranking">
          <a href="https://<%= newsURL %>/detail" class="list-a">
            <div class="item_number">7</div>
            <div class="list-img">
              <img
                src="7.jpg"
                alt="『エール』75話　福島三羽ガラスで作った「暁に祈る」が戦意高揚になるとされることに複雑な裕一たち"
              />
            </div>
            <div class="list-body">
              <p class="title">
                『エール』75話　福島三羽ガラスで作った「暁に祈る」が戦意高揚になるとされることに複雑な裕一たち
              </p>
            </div>
          </a>
        </li>

        <li class="list-item"><div id="gpt_sp_news_ranking_infeed03"></div></li>
        <li class="list-item list-ranking">
          <a href="https://<%= newsURL %>/detail" class="list-a">
            <div class="item_number">8</div>
            <div class="list-img">
              <img src="8.jpg" alt="コロナ感染の関ジャニ∞大倉忠義、主演ドラマ「知ってるワイフ」撮影中止" />
            </div>
            <div class="list-body">
              <p class="title">コロナ感染の関ジャニ∞大倉忠義、主演ドラマ「知ってるワイフ」撮影中止</p>
            </div>
          </a>
        </li>

        <li class="list-item list-ranking">
          <a href="https://<%= newsURL %>/detail" class="list-a">
            <div class="item_number">9</div>
            <div class="list-img">
              <img src="9.jpg" alt="香取慎吾「めちゃめちゃ楽しんでる」YouTubeと絵の仕事の“裏側”を語る" />
            </div>
            <div class="list-body">
              <p class="title">香取慎吾「めちゃめちゃ楽しんでる」YouTubeと絵の仕事の“裏側”を語る</p>
            </div>
          </a>
        </li>

        <li class="list-item list-ranking">
          <a href="https://<%= newsURL %>/detail" class="list-a">
            <div class="item_number">10</div>
            <div class="list-body">
              <p class="title">北朝鮮の正恩氏、異例の謝罪＝「大統領、同胞に申し訳ない」―韓国公務員射殺事件</p>
            </div>
          </a>
        </li>

        <li class="list-item list-ranking">
          <a href="https://<%= newsURL %>/detail" class="list-a">
            <div class="item_number">11</div>
            <div class="list-img">
              <img src="11.jpg" alt="政府の携帯値下げ要請、真摯に受け止める必要＝高橋ＫＤＤＩ社長" />
            </div>
            <div class="list-body">
              <p class="title">政府の携帯値下げ要請、真摯に受け止める必要＝高橋ＫＤＤＩ社長</p>
            </div>
          </a>
        </li>

        <li class="list-item list-ranking">
          <a href="https://<%= newsURL %>/detail" class="list-a">
            <div class="item_number">12</div>
            <div class="list-body">
              <p class="title">
                キンプリ岸優太を愛さずにいられない理由！　真顔でボケ倒す天然ぶりと、分け隔てない優しさ
              </p>
            </div>
          </a>
        </li>

        <li class="list-item list-ranking">
          <a href="https://<%= newsURL %>/detail" class="list-a">
            <div class="item_number">13</div>
            <div class="list-img">
              <img src="13.jpg" alt="新垣結衣『逃げ恥』ドラマが続編決定と報道　妊娠・出産を描く第2弾" />
            </div>
            <div class="list-body">
              <p class="title">新垣結衣『逃げ恥』ドラマが続編決定と報道　妊娠・出産を描く第2弾</p>
            </div>
          </a>
        </li>

        <li class="list-item list-ranking">
          <a href="https://<%= newsURL %>/detail" class="list-a">
            <div class="item_number">14</div>
            <div class="list-img">
              <img src="14.jpg" alt="社内システムにランサムウェア攻撃、データ暗号化され金銭要求される　ベルパーク" />
            </div>
            <div class="list-body">
              <p class="title">社内システムにランサムウェア攻撃、データ暗号化され金銭要求される　ベルパーク</p>
            </div>
          </a>
        </li>

        <li class="list-item list-ranking">
          <a href="https://<%= newsURL %>/detail" class="list-a">
            <div class="item_number">15</div>
            <div class="list-img">
              <img
                src="15.jpg"
                alt="日本を選んでくれて「正直、良かったと思ってる」　インド高速鉄道に中国ネットの声は・・・"
              />
            </div>
            <div class="list-body">
              <p class="title">
                日本を選んでくれて「正直、良かったと思ってる」　インド高速鉄道に中国ネットの声は・・・
              </p>
            </div>
          </a>
        </li>

        <li class="list-item"><div id="gpt_sp_news_ranking_infeed04"></div></li>
      </ul>
      <a href="https://<%= newsURL %>/detail" class="button primary-button"
        >ランキングをもっと見る<span class="icon-arrow-right"></span
      ></a>
    </section>

    <div class="talknEmbed" style="width: 90%; margin: 20px 5% 140px; height: 460px"></div>
  </body>
</html>
