<%
    let one1 = 'No login,';
    let one2 = 'Communication that';
    let one3 = 'kept warm.';
    let two1 = "Let's talk with the viewer";
    let two2 = 'of the same web site.';
    let two12Br = true;
    let three1 = "Let's embed it on web sites";
    let three2 = 'all over the world.';
    let three12Br = false;
    let fourth1 = "Let's talk at No login,";
    let fourth2 = "about Fun & Impression.";
    let fiveCompanyKey = "COMPANY";
    let fiveCompanyNameKey = "NAME";
    let fiveCompanyNameValue = "talkn Co.,Ltd.";
    let fiveCompanyFoundedKey = "FOUNDED";
    let fiveCompanyFoundedValue = "March, 2020";
    let fiveCompanyRepresentativeKey = "REPRESENTATIVE";
    let fiveCompanyRepresentativeValue = "Hiroyuki Miyazaki";
    let fiveCompanyPolicyKey = "POLICY";
    let fiveCompanyPolicyValue = "Update the internet for creaters.";
    let fiveContactKey = "CONTACT";
    let fiveContactNameKey = "Your name";
    let fiveContactMailKey = "Your email";
    let fiveContactTitleKey = "Title";
    let fiveContactContentKey = "Contents";
    let fiveContactSendKey = "Send";
    let letterSpacingSmall = 0;
    let letterSpacingMiddle = 0;
    let letterSpacingLarge = 0;
    let copyIframeComment = "Embed in any position of HTML5"
    let copyScriptComment = "Fixed at the bottom of the browser"
    switch( language ){
    case "zh":
        one1 = "不需要登录,";
        one2 = "'保持热度交流'";
        one3 = "让我们沟通吧。";
        two1 = "和正在浏览同一网页的朋友们";
        two2 = "一起交流一下吧。";
        two12Br = true;
        three1 = "我们可以将它嵌入";
        three2 = "世界各地的网站中。";
        three12Br = true;
        fourth1 = "不用任何登陆，";
        fourth2 = "全世界的「欢乐」、「感动」即时分享";
        fiveCompanyKey = "公司";
        fiveContactKey = "联系方式";
        break;
    case "ja":
        one1 = "あなたのWEBサイトを";
        one2 = "'LIVE会場'に変える。";
        one3 = "";
        two1 = "'応援コメント'で";
        two2 = "ユーザーの一体感・熱量UP!";
        two12Br = true;
        three1 = "世界中のWEBサイトに";
        three2 = "埋め込もう。";
        three12Br = true;
        fourth1 = "世界中の「楽しい」「感動」を";
        fourth2 = "LIVEで話そう。";
        fiveCompanyKey = "会社";
        fiveCompanyNameKey = "名前";
        fiveCompanyNameValue = "株式会社talkn";
        fiveCompanyFoundedKey = "設立";
        fiveCompanyFoundedValue = "2020年9月";
        fiveCompanyRepresentativeKey = "代表取締役";
        fiveCompanyRepresentativeValue = "宮﨑博之(Hiroyuki Miyazaki)";
        fiveCompanyPolicyKey = "企業理念";
        fiveContactKey = "お問い合わせ";
        fiveContactNameKey = "お名前";
        fiveContactMailKey = "ご返信先Eメール";
        fiveContactTitleKey = "タイトル";
        fiveContactContentKey = "内容";
        fiveContactSendKey = "送信";
        letterSpacingSmall = "2px";
        letterSpacingMiddle = "2px";
        letterSpacingLarge = "5px";
        break;
    case "de":
        one1 = "Kein Login,";
        one2 = "Lass uns ein warmes";
        one3 = "Gespräch führen.";
        two1 = "Sprechen wir mit Leuten,";
        two2 = "die dieselbe Website besuchen.";
        three1 = "Lassen Sie uns es auf Webseiten";
        three2 = "auf der ganzen Welt einbetten.";
        three12Br = false;
        fourth1 = "Reden wir unter Kein Login,";
        fourth2 = "über Spaß & Eindruck";
        fiveCompanyKey = "Firma";
        fiveContactKey = "Anfrage";
        break;
    case "fr":
        one1 = "Pas de login,";
        one2 = "Une communication qui";
        one3 = "reste au chaud.";
        two1 = "Parlons avec le spectateur";
        two2 = "du même site Web.";
        two12Br = true;
        three1 = "Intégrons-le sur des sites Web";
        three2 = "du monde entier.";
        three12Br = false;
        fourth1 = "Parlons à pas de connexion,";
        fourth2 = "à propos de Fun & Impression.";
        fiveCompanyKey = "Société";
        fiveContactKey = "Enquête";
        break;
    case "hi":
        one1 = "कोई लॉगिन नहीं,";
        one2 = "संचार कि";
        one3 = "गर्म रखा गया।";
        two1 = "के साथ बात करते हैं";
        two2 = "उसी वेब साइट का दर्शक।";
        two12Br = true;
        three1 = "आइए इसे वेब साइटों पर एम्बेड करें";
        three2 = "पूरी दुनिया में।";
        three12Br = false;
        fourth1 = "नो लॉगिन पर बात करते हैं,";
        fourth2 = "मज़ा और छाप के बारे में";
        fiveCompanyKey = "कंपनी";
        fiveContactKey = "संपर्क करें";
        break;
    case "pt":
        one1 = "Sem login,";
        one2 = "Comunicação que";
        one3 = "se manteve quente.";
        two1 = "Vamos conversar com";
        two2 = "o espectador do mesmo site.";
        two12Br = true;
        three1 = "Vamos incorporá-lo em sites";
        three2 = "No mundo todo.";
        three12Br = false;
        fourth1 = "Vamos conversar no No login,";
        fourth2 = "sobre diversão e impressão.";
        fiveCompanyKey = "EMPRESA";
        fiveContactKey = "CONTATO";
        break;
    case "it":
        one1 = "Nessun accesso,";
        one2 = "Comunicazione che";
        one3 = "si mantiene calda.";
        two1 = "Parliamo con lo spettatore";
        two2 = "dello stesso sito web.";
        two12Br = true;
        three1 = "Incorporiamolo sui siti web";
        three2 = "tutto il mondo.";
        three12Br = false;
        fourth1 = "Parliamo senza accesso,";
        fourth2 = "su Fun & Impression.";
        fiveCompanyKey = "AZIENDA";
        fiveContactKey = "CONTATTO";
        break;
    case "ru":
        one1 = "Нет логина,";
        one2 = "Общение, которое";
        one3 = "сохраняло тепло.";
        two1 = "Давайте поговорим со";
        two2 = "зрителем того же сайта.";
        two12Br = true;
        three1 = "Давайте вставим это на веб-сайты";
        three2 = "по всему миру.";
        three12Br = false;
        fourth1 = "Давайте поговорим на Нет входа,";
        fourth2 = "о веселье и впечатления.";
        fiveCompanyKey = "КОМПАНИЯ";
        fiveContactKey = "CONTACT";
        break;
    case "ko":
        one1 = "로그인 없음,";
        one2 = "따뜻한";
        one3 = "커뮤니케이션.";
        two1 = "같은 웹 사이트의";
        two2 = "시청자와 이야기 해 봅시다.";
        two12Br = true;
        three1 = "웹 사이트에 그것을 포함 시키자.";
        three2 = "전 세계.";
        three12Br = false;
        fourth1 = "로그인하지 말자.";
        fourth2 = "재미와 인상에 대해서.";
        fiveCompanyKey = "회사";
        fiveContactKey = "접촉";
        break;
    case "es":
        one1 = "Sin inicio de sesión,";
        one2 = "Comunicación que";
        one3 = "mantenido caliente.";
        two1 = "Hablemos con el espectador";
        two2 = "del mismo sitio web.";
        two12Br = true;
        three1 = "Vamos a insertarlo en sitios web,";
        three2 = "en todo el mundo.";
        three12Br = false;
        fourth1 = "Hablemos al no iniciar sesión,";
        fourth2 = "sobre la diversión y la impresión.";
        fiveCompanyKey = "EMPRESA";
        fiveContactKey = "CONTACTO";
        break;
    case "id":
        one1 = "Tanpa login,";
        one2 = "Komunikasi yang";
        one3 = "tetap hangat.";
        two1 = "Mari kita bicara dengan";
        two2 = "pengunjung situs web yang sama.";
        two12Br = true;
        three1 = "Mari kita tanamkan di situs web";
        three2 = "di seluruh dunia.";
        three12Br = false;
        fourth1 = "Mari kita bicara tanpa login,";
        fourth2 = "entang Kesenangan & Impresi.";
        fiveCompanyKey = "PERUSAHAAN";
        fiveContactKey = "HUBUNGI KAMI";
        break;
    case "tr":
        one1 = "Giriş yok,";
        one2 = "İletişim sıcak";
        one3 = "tuttu.";
        two1 = "Aynı web sitesinin";
        two2 = "izleyicisiyle konuşalım.";
        two12Br = true;
        three1 = "Web sitelerine yerleştirelim";
        three2 = "tüm dünyada.";
        three12Br = false;
        fourth1 = "Giriş yapmadan konuşalım.";
        fourth2 = "Eğlence ve İzlenim hakkında.";
        fiveCompanyKey = "ŞİRKET";
        fiveContactKey = "İLETİŞİM";
        break;
    case "nl":
        one1 = "Geen login,";
        one2 = "Communicatie die";
        one3 = "warm bleef.";
        two1 = "Laten we praten met de kijker";
        two2 = "van dezelfde website.";
        two12Br = true;
        three1 = "van dezelfde website.";
        three2 = "over de hele wereld.";
        three12Br = false;
        fourth1 = "Laten we praten op Geen login,";
        fourth2 = "over plezier en indrukken.";
        fiveCompanyKey = "COMPANY";
        fiveContactKey = "CONTACT";
        break;
    case "ar":
        one1 = "لا تسجيل الدخول ،";
        one2 = "الاتصالات التي أبقى دافئة.";
        one3 = "";
        two1 = "دعنا نتحدث مع المشاهد من نفس الموقع.";
        two2 = "";
        two12Br = true;
        three1 = "فلنضمّنه على مواقع الويب";
        three2 = "في جميع أنحاء العالم.";
        three12Br = false;
        fourth1 = "دعنا نتحدث في عدم تسجيل الدخول ،";
        fourth2 = "عن المرح والانطباع.";
        fiveCompanyKey = "شركة";
        fiveContactKey = "اتصال";
        break;
    case "zh-TW":
        one1 = "不需要登陸";
        one2 = "保持熱度交流";
        one3 = "讓我們溝通吧。";
        two1 = "和正在瀏覽同一網頁的";
        two2 = "朋友們一起交流一下吧。";
        two12Br = true;
        three1 = "和正在瀏覽同一網頁的朋友們一起";
        three2 = "交流一下吧。";
        three12Br = false;
        fourth1 = "不用任何登陸、";
        fourth2 = "全世界的「歡樂」、「感動」即時分享。";
        fiveCompanyKey = "公司";
        fiveContactKey = "聯繫方式";
        break;
    case "pl":
        one1 = "Brak logowania,";
        one2 = "Komunikacja,";
        one3 = "która utrzymywała ciepło.";
        two1 = "Porozmawiajmy z widzem";
        two2 = "tej samej strony internetowej.";
        two12Br = true;
        three1 = "Umieśćmy je na stronach";
        three2 = "internetowych na całym świecie.";
        three12Br = false;
        fourth1 = "Porozmawiajmy na Brak logowania,";
        fourth2 = "o Fun & Impression.";
        fiveCompanyKey = "Firma";
        fiveContactKey = "Kontakt";
        break;
    case "sv":
        one1 = "Ingen inloggning,";
        one2 = "Kommunikation som";
        one3 = "hålls varm.";
        two1 = "Låt oss prata med tittaren";
        two2 = "på samma webbplats.";
        two12Br = true;
        three1 = "Låt oss bädda in den på webbplatser";
        three2 = "över hela världen.";
        three12Br = true;
        fourth1 = "Låt oss prata vid ingen inloggning,";
        fourth2 = "om kul och intryck.";
        fiveCompanyKey = "företag";
        fiveContactKey = "Kontakta";
        break;
    case "th":
        one1 = "ไม่มีการลงชื่อเข้าใช้";
        one2 = "การสื่อสารที่อบอุ่น";
        one3 = "";
        two1 = "มาพูดคุยกับ";
        two2 = "ผู้ดูเว็บไซต์เดียวกัน";
        two12Br = true;
        three1 = "ลองฝังไว้ในเว็บไซต์";
        three2 = "ทั่วทุกมุมโลก";
        three12Br = true;
        fourth1 = "พูดคุยกันที่ไม่มีการเข้าสู่ระบบ";
        fourth2 = "เกี่ยวกับความสนุกและความประทับใจ";
        fiveCompanyKey = "บริษัท";
        fiveContactKey = "ติดต่อ";
        break;
    case "fa":
        one1 = "بدون ورود";
        one2 = "ارتباطی که گرم شد";
        one3 = "";
        two1 = "بیایید صحبت کنیم";
        two2 = "بیننده ی همان وب سایت.";
        two12Br = true;
        three1 = "ลองฝังไว้ในเว็บไซต์";
        three2 = "ทั่วทุกมุมโลก";
        three12Br = true;
        fourth1 = "بگذارید آن را در وب سایت ها جاسازی کنیم";
        fourth2 = "در سراسر جهان";
        fiveCompanyKey = "شرکت";
        fiveContactKey = "تماس بگیرید";
        break;
    case "nn":
        one1 = "Ingen innlogging,"
        one2 = "Kommunikasjon som";
        one3 = "holdt seg varm.";
        two1 = "La oss snakke med";
        two2 = "seeren på samme nettsted.";
        two12Br = true;
        three1 = "La oss legge det inn på nettsider";
        three2 = "over hele verden.";
        three12Br = true;
        fourth1 = "La oss snakke ved Ingen innlogging,";
        fourth2 = "om moro og inntrykk.";
        fiveCompanyKey = "selskapet";
        fiveContactKey = "Kontakt";
        break;
    case "ga":
        one1 = "Ingen innlogging,"
        one2 = "Cumarsáid a choimeád te.";
        one3 = "";
        two1 = "Déanaimis labhairt leis an lucht féachana";
        two2 = "ar an suíomh gréasáin céanna.";
        two12Br = false;
        three1 = "A ligean ar é a leabú ar láithreáin";
        three2 = "ghréasáin ar fud an domhain.";
        three12Br = true;
        fourth1 = "Déanaimis caint ar Gan logáil isteach,";
        fourth2 = "faoi Fun & Impression.";
        fiveCompanyKey = "Cuideachta";
        fiveContactKey = "Teagmháil";
        break;
    case "he":
        one1 = "אין כניסה,"
        one2 = "תקשורת שהחמימה.";
        one3 = "";
        two1 = "בואו נדבר עם הצופה ";
        two2 = "של אותו אתר.";
        two12Br = true;
        three1 = "בואו להטביע אותו באתרי אינטרנט";
        three2 = "בכל העולם.";
        three12Br = true;
        fourth1 = "בוא נדבר ב אין כניסה,";
        fourth2 = "על כיף & הופעות.";
        fiveCompanyKey = "החברה";
        fiveContactKey = "איש קשר";
        break;
    case "mr":
        one1 = "Tiada log masuk,";
        one2 = "Komunikasi yang hangat.";
        one3 = "";
        two1 = "Mari kita bercakap dengan penonton";
        two2 = "laman web yang sama.";
        two12Br = false;
        three1 = "Mari benamkannya di laman web";
        three2 = "seluruh dunia.";
        three12Br = true;
        fourth1 = "Mari kita bercakap pada Tiada login,";
        fourth2 = "mengenai Fun & Impression.";
        fiveCompanyKey = "Syarikat";
        fiveContactKey = "Hubungi";
        break;
    }
%>
<!doctype html>
<html lang=<%= language%>>
<head>
<title>talkn</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta content="Comment to web. talkn can share comments with users watching the same web page. Please enjoy the world of talkn." name="description">
<meta name="theme-color" content="rgb(79, 174, 159)">

<meta property="og:title" content="talkn">
<meta property="og:type" content="website">
<meta property="og:url" content="https://<%= domain %>">
<meta property="og:image" content="https://<%= assetsURL %>/www/img1min.jpg">
<meta property="og:site_name" content="talkn">
<meta property="og:description" content="talkn can share comments with users watching the same WEB page. Please enjoy the world of fun talkn.">
<meta property="fb:page_id" content="641091596303567">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@IoTalkn">
<meta name="twitter:url" content="https://<%= domain %>">
<meta name="twitter:title" content="talkn">
<meta name="twitter:description" content="talkn can share comments with users watching the same WEB page. Please enjoy the world of fun talkn.">
<meta name="twitter:image" content="https://<%= assetsURL %>/www/img1min.jpg">

<link rel="manifest" href="/manifest.json">
<link rel="canonical" href="https://<%= wwwURL %>/">
<link rel="alternate" hreflang="en" href="https://<%= wwwURL %>/en">
<link rel="alternate" hreflang="zh" href="https://<%= wwwURL %>/zh">
<link rel="alternate" hreflang="ja" href="https://<%= wwwURL %>/ja">
<link rel="alternate" hreflang="de" href="https://<%= wwwURL %>/de">
<link rel="alternate" hreflang="fr" href="https://<%= wwwURL %>/fr">
<link rel="alternate" hreflang="hi" href="https://<%= wwwURL %>/hi">
<link rel="alternate" hreflang="pt" href="https://<%= wwwURL %>/pt">
<link rel="alternate" hreflang="it" href="https://<%= wwwURL %>/it">

<link rel="alternate" hreflang="ru" href="https://<%= wwwURL %>/ru">
<link rel="alternate" hreflang="ko" href="https://<%= wwwURL %>/ko">
<link rel="alternate" hreflang="es" href="https://<%= wwwURL %>/es">
<link rel="alternate" hreflang="id" href="https://<%= wwwURL %>/id">
<link rel="alternate" hreflang="tr" href="https://<%= wwwURL %>/tr">
<link rel="alternate" hreflang="nl" href="https://<%= wwwURL %>/nl">
<link rel="alternate" hreflang="ar" href="https://<%= wwwURL %>/ar">
<link rel="alternate" hreflang="zh-TW" href="https://<%= wwwURL %>/zh-TW">

<link rel="alternate" hreflang="pl" href="https://<%= wwwURL %>/pl">
<link rel="alternate" hreflang="sv" href="https://<%= wwwURL %>/sv">
<link rel="alternate" hreflang="th" href="https://<%= wwwURL %>/th">
<link rel="alternate" hreflang="fa" href="https://<%= wwwURL %>/fa">
<link rel="alternate" hreflang="nn" href="https://<%= wwwURL %>/nn">
<link rel="alternate" hreflang="ga" href="https://<%= wwwURL %>/ga">
<link rel="alternate" hreflang="he" href="https://<%= wwwURL %>/he">
<link rel="alternate" hreflang="mr" href="https://<%= wwwURL %>/mr">
<link rel="stylesheet" href="api.css">

<script type="text/javascript" async src="//<%= extURL %>"></script>
<script type="text/javascript">
    const wideScreenWidth = 1000;
    const smallScreenWidth = 600;
    const responsiveWidth = 640;
    const headerHeight = 100;
    const navTop = 60;
    const pointerStyles = [
        {height: "5px", width: "10%", transform: "translate3d(0%,0px,0px)"},
        {height: "5px",  width: "10%", transform: "translate3d(250%,0px,0px)"},
        {height: "5px", width: "10%", transform: "translate3d(500%,0px,0px)"},
        {height: "5px", width: "10%", transform: "translate3d(750%,0px,0px)"},
        {height: "0px", width: "10%", transform: "translate3d(750%,0px,0px)"}
    ];
    const menuStyles = {
        active: {color: "rgb(79, 174, 159)"},
        unactive: {color: "rgb(55, 55, 55)"},
    }
    let screen = 0;
    let isAnimateScrolling = false;
    let oneScreenHeight = smallScreenWidth;
    function onServiceWorker(){
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/www_sw.js').then(function(registration) {
                // 登録成功
                console.log('[www]ServiceWorker registration successful with scope: ', registration.scope);
            }).catch(function(err) {
                // 登録失敗 :(
                console.log('[www]ServiceWorker registration failed: ', err);
            });
        }
    }
    function onMouseOver(num){
        movePointer(num);
        setMenuColor();
    }
    function onMouseLeave(num){
        movePointer(screen);
        setMenuColor();
    }
    function onClick(num){
        setScreen(num);
        movePointer(num, true);
        setMenuColor();
    }
    function onClickToTop(){
        animateScrollTo(0);
    }
    function onClickLanguage(){
        const languageMenu = document.querySelector(".language-menu");
        if( languageMenu.style.transform === "" ){
            languageMenu.style.transform = "translate3d(0px, 450px, 0px )";
        }else{
            if( languageMenu.style.transform === "translate3d(0px, 0px, 0px)" ){
                languageMenu.style.transform = "translate3d(0px, 450px, 0px )";
            }else{
                languageMenu.style.transform = "translate3d(0px, 0px, 0px)";
            }
        }
    }
    function onClickLanguageMenu(cn){
        location.href = "https://<%= wwwURL %>?lang=" + cn;
    }
    function onKeyPressSearch(e){
        if ( e.key === "Enter" ) {
            let value = e.target.value;
            let isUrl = false;
            let url = "";
            if( value.indexOf("https:/") === 0 ){
                value = value.replace("https:/", "");
                isUrl = true;
            }
            if( value.indexOf("http:/") === 0 ){
                value = value.replace("http:/", "");
                isUrl = true;
            }
            url = isUrl ? value : "/" + value;
            location.href = "https://<%= domain %>" + url;
        }
    }
    function getCalcScreen(){
        const { scrollY, innerHeight } = window;
        if( 0 <= scrollY && scrollY < ( oneScreenHeight * 1 ) + headerHeight) {
            screen = 0;
        }else if( oneScreenHeight + headerHeight <= scrollY && scrollY < ( oneScreenHeight * 2 ) + headerHeight ){
            screen = 1;
        }else if( ( oneScreenHeight * 2 ) + headerHeight <= scrollY && scrollY < ( oneScreenHeight * 3 ) + headerHeight ){
            screen = 2;
        }else if( ( oneScreenHeight * 3 ) + headerHeight <= scrollY && scrollY < ( oneScreenHeight * 4 ) + headerHeight ){
            screen = 3;
        }else if( ( oneScreenHeight * 4 ) + headerHeight <= scrollY ){
            screen = 4;
        }
        return screen;
    }
    function setScreen(num){
        if(num){
            screen = num;
        }else{
            screen = getCalcScreen();
        }
        return screen;
    }
    function setMenuColor(){
        if( window.menuLis ){
            window.menuLis.forEach( (menuLi, i) => {
                menuLi.style.color = screen === i ? menuStyles.active.color : menuStyles.unactive.color;
            } );
        }
    }
    function movePointer(num = 0, animateScroll = false){
        const { scrollY, innerHeight } = window.scrollY;
        const pointerStyle = pointerStyles[ num ];
        const pointer = document.querySelector(".pointer");
        pointer.style.width = pointerStyle.width;
        pointer.style.height = pointerStyle.height;
        pointer.style.transform = pointerStyle.transform;
        const moveScrollY = num === 0 ? 0 : ( oneScreenHeight * num ) + headerHeight ;
        if( animateScroll ){
            animateScrollTo( moveScrollY, 600 );
        }
    }
    function setNavStyles(){
        const nav = document.querySelector("nav");
        const accessory = document.querySelector(".accessory");
        const toTop = document.querySelector(".toTop");
        const scrollY = window.scrollY;
        const changeAccessoryFunc = ( scrollY ) => {
            const changeNavMenuHeight = ( oneScreenHeight * ( pointerStyles.length - 1 ) ) + headerHeight;
            if( scrollY >= changeNavMenuHeight){
                accessory.style.transform = `translate3d(0px, -${navTop}px, 0px)`;
                accessory.style.width = "100px";
                accessory.style.height = "100px";
                accessory.innerText = "Powerd by";
            }else{
                accessory.style.transform = "translate3d(0px, 0px, 0px)";
                accessory.style.width = "70px";
                accessory.style.height = "70px";
                accessory.innerText = "talkn";
            }
        }
        if( !toTop ){
            // return false;
        }

        if( scrollY < navTop ){
            if( nav.style.position === "fixed" ){
                nav.style.position = "absolute";
                nav.style.top = `${navTop}px`;
                accessory.style.transform = "translate3d(0px, -25px, 0px)";
            }
            //toTop.style.display = "none";
        }else{
            if(nav.style.position === "absolute"){
                nav.style.position = "fixed";
                nav.style.top = "0px";
                accessory.style.transform = "translate3d(0px, 0px, 0px)";
                changeAccessoryFunc(scrollY);
            }else if(nav.style.position === "fixed"){
                changeAccessoryFunc(scrollY);
            }else if( nav.style.position === "" ){
                nav.style.position = "absolute";
                nav.style.top = `${navTop}px`;
                accessory.style.transform = "translate3d(0px, -25px, 0px)";
            }
            if(toTop ) toTop.style.display = "flex";
        }
    }
	function animateScrollTo( to = 99999, duration = 400,  callback = () => {} ){
        if( duration === 0 ){
            window.scrollTo(0, to);
        }else{
            if( !isAnimateScrolling ){
                let start = window.scrollY;
                let change = to - start;
                let currentTime = 0;
                let increment = 20;
                const animateScroll = ()　=>　{
                    currentTime += increment;
                    let scrollTop = Math.easeInOutQuad(currentTime, start, change, duration);
                    screenTop = Math.floor( scrollTop );
                    window.scrollTo(0, scrollTop);
                    if(currentTime < duration){
                        isAnimateScrolling = true;
                        setTimeout(animateScroll, increment);
                    }
                    if( to === screenTop){
                        isAnimateScrolling = false;
                        callback();
                    }
                };
                animateScroll();
            }
        }
    }
    function setupMath(){
		Math.easeInOutQuad = function (t, b, c, d) {
			t /= d/2;
			if (t < 1) return c/2*t*t + b;
			t--;
			return -c/2 * (t*(t-2) - 1) + b;
		};
	}
    function onMouseOverInput( className ){
        document.querySelector("section." + className ).style.border = "5px solid rgba( 79,174,159,0.8)";
    } 
    function onMouseLeaveInput( className ){
        document.querySelector("section." + className ).style.border = "5px solid rgba( 0,0,0,0.2)";
    } 
    function onFocusInput( className ){
        document.querySelector("section." + className ).style.border = "5px solid rgba( 79,174,159,0.8)";
    } 
    function onBlurInput( className ){
        document.querySelector("section." + className ).style.border = "5px solid rgba( 0,0,0,0.2)";
    } 
    function onClickCopyTag(type){
        const selector = `section.three code.${type}Code`;
        const replaceComment = type === "copyIframe" ? "<%= copyIframeComment %>" : "<%= copyScriptComment %>";
        document.querySelector( selector ).style.opacity = "1";
        const copyTag = document.createElement("input");
        copyTag.value = document.querySelector(`${selector} pre`)
                                .innerText
                                .replace(`// ${replaceComment}`, "")
                                .replace(/\r?\n/g, '')
                                .replace( /    /g, " ");
        copyTag.id = type;
        copyTag.type = "text";
        copyTag.style = "opacity: 0";
        document.querySelector(selector).appendChild(copyTag);
        copyTag.focus();
        copyTag.select();
        document.execCommand("copy"); 
        setTimeout( () => {
            document.querySelector( selector ).style.opacity = "0";
            setTimeout( () => {
    	        copyTag.parentNode.removeChild(copyTag);
            }, 1000 );
        }, 3000 );
    } 
    function onResizeWindow(){
        let newOneScreenHeight = 0;
        if( window.innerWidth < responsiveWidth ){
            newOneScreenHeight = smallScreenWidth;
        }else{
            newOneScreenHeight = wideScreenWidth;
        }
        if( oneScreenHeight !== newOneScreenHeight ){
            oneScreenHeight = newOneScreenHeight;
            screen = setScreen();
            movePointer(screen);
            setNavStyles();
            setMenuColor();
        }
    } 
    function onClickSearchIcon() {
        const search = document.querySelector( ".search" );
        const href = search.value.replace("https:/", "").replace("http:/", "");
        location.href = "https://<%= domain %>" + href;
    }
    window.onload =  ( e ) => {
        onServiceWorker();
        const search = document.querySelector(".search");
        const pagination = document.querySelectorAll("nav.pagination span");
        // search.addEventListener('keypress', onKeyPressSearch);
        onResizeWindow();
        setupMath();
        window.pointer = document.querySelector(".pointer");
        window.menuLis = document.querySelectorAll("nav li");
        window.nav = document.querySelector("nav");
        setNavStyles();
        setMenuColor();
        console.log(pagination);
        pagination.forEach( page => page.addEventListener('click', (e) => {
            const scrollLeft = Number(e.target.dataset.index) === 1 ? 0 : 9999999;
            console.log(e.target.dataset.index + " : " + scrollLeft);
            document.querySelector(".slide").scrollLeft = scrollLeft;
        }));
        
        document.querySelector(".language-menu").addEventListener("transitionend", () => {
            const languageMenu = document.querySelector(".language-menu");
            if( languageMenu.style.transform === "translate3d(0px, 450px, 0px)" ){
                document.body.addEventListener("click", function temp(){
                    languageMenu.style.transform = "translate3d(0px, 0px, 0px)";
                    this.removeEventListener("click", temp);
                });
            }
        });
    };
    window.onscroll =  ( e ) => {
        setNavStyles();
        if( !isAnimateScrolling ){
            let beforeScreen = screen;
            screen = setScreen();
            if( screen !== beforeScreen){
                movePointer(screen);
                setMenuColor();
            }
        }1
    };
    window.onresize = onResizeWindow;
</script>
<!-- script type="text/javascript" async src="//<%= extURL %>"></script -->
<script type="text/javascript" async src="//<%= apiAccessURL %>"></script>
</head>
<body>
    <!-- div id="talkn" style="z-index: 99999999; width: 280px; height: 50%; position: fixed; top: 150px; left: 100px;"></div -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&autoLogAppEvents=1&version=v3.3&appId=1655931587827697"></script>

    <div class="fixBackground">
        <div class="background"></div>
    </div>
    <div class="container">

        <header>
            <ul class="language-menu" transitionend="onTransitionEndLanguageMenu()">
                <li onclick="onClickLanguageMenu('en')" class="active">English(en)</li>
                <li onclick="onClickLanguageMenu('zh')" class="active">简体中文(zh)</li>
                <li onclick="onClickLanguageMenu('ja')" class="active">日本語(ja)</li>
                <li onclick="onClickLanguageMenu('de')" class="active">Deutsch(de)</li>
                <li onclick="onClickLanguageMenu('fr')" class="active">Français(fr)</li>
                <li onclick="onClickLanguageMenu('hi')" class="active">हिंदी(hi)</li>
                <li onclick="onClickLanguageMenu('pt')" class="active">Português(pt)</li>
                <li onclick="onClickLanguageMenu('it')" class="active">Italiano(it)</li>

                <li onclick="onClickLanguageMenu('ru')" class="active">русский(ru)</li>
                <li onclick="onClickLanguageMenu('ko')" class="active">한국(ko)</li>
                <li onclick="onClickLanguageMenu('es')" class="active">Español(es)</li>
                <li onclick="onClickLanguageMenu('id')" class="active">Indonesio(id)</li>
                <li onclick="onClickLanguageMenu('tr')" class="active">Turco(tr)</li>
                <li onclick="onClickLanguageMenu('nl')" class="active">Holandes(nl)</li>
                <li onclick="onClickLanguageMenu('ar')" class="active">العربية(ar)</li>
                <li onclick="onClickLanguageMenu('zh-TW')" class="active">繁体中文(zh-TW)</li>

                <li onclick="onClickLanguageMenu('pl')" class="active">Polski(pl)</li>
                <li onclick="onClickLanguageMenu('sv')" class="active">svenska(sv)</li>
                <li onclick="onClickLanguageMenu('th')" class="active">Thailändska(th)</li>
                <li onclick="onClickLanguageMenu('fa')" class="active">فارسی(fa)</li>
                <li onclick="onClickLanguageMenu('nn')" class="active">norsk(nn)</li>
                <li onclick="onClickLanguageMenu('ga')" class="active">Gaeilge(ga)</li>
                <li onclick="onClickLanguageMenu('he')" class="active">עברית(he)</li>
                <li onclick="onClickLanguageMenu('mr')" class="active">Melayu(mr)</li>
            </ul>
            <div class="menus">
                <ul>
                    <li>

                    </li>
                    <li>talkn</li>
                    <li onclick="onClickLanguage()">
                        Language(<%= language %>)
                    </li>
                </ul>
            </div>

            <nav class="head">
                <div class="headBar"></div>
                <ul>
                        <li onclick="onClick(0)" onmouseover="onMouseOver(0)" onmouseleave="onMouseLeave(0)">Top</li>
                        <li onclick="onClick(1)" onmouseover="onMouseOver(1)" onmouseleave="onMouseLeave(1)">Merit</li>
                        <li onclick="onClick(2)" onmouseover="onMouseOver(2)" onmouseleave="onMouseLeave(2)">Future</li>
                        <li onclick="onClick(3)" onmouseover="onMouseOver(3)" onmouseleave="onMouseLeave(3)">Contact</li>
                </ul>
                <div class="pointerWrap">
                    <div class="pointer" />
                </div>
            </nav>
            <div class="accessory">talkn</div>
            <div class="accessory-case"></div>
        </header>

        <section class="zero">
            <div class="bg"></div>
            <div class="bar"></div>
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="message">
                <h2>
                    あなたのWEBサイトを<br /><span class="bold">"LIVE会場"</span>に変える。
                </h2>
            </div>
            <div class="content">
                <div class="slide">
                    <section id="talkn" class="board talkn">
                        <div id="talknEmbed1" class="talknEmbed"></div>
                    </section>
                    <section id="youtube" class="board youtube">
                        <iframe width="460" height="300" src="https://www.youtube.com/embed/3dUxV3yuIyc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </section>
                </div>
                <nav class="pagination">
                    <span data-index=1></span>
                    <span data-index=2></span>
                </nav>
            </div>
        </section>

        <section class="one">
            <div class="block">
                <div class="ribonWrap">
                    <div class="ribon">WEBサイトオーナー様向け</div>
                </div>
                <h2>
                    <div class="message">
                        talkn(集客ツール)の<br class="active800" />メリット３点
                    </div>
                </h2>

                <div class="merit one">
                    <div class="num">1</div>
                    <div class="hr"></div>
                    <p>無料<br />インストール</p>
                </div>

                <div class="merit two">
                    <div class="num">2</div>
                    <div class="hr"></div>
                    <p>WEBサイトを<br />LIVE会場に</p>
                </div>
                <div class="merit three">
                    <div class="num">3</div>
                    <div class="hr"></div>
                    <p>新しい<br />SNS拡散機能</p>
                </div>
                <div class="arrowWrap">
                    <div class="arrow">▼</div>
                </div>
                <div class="conclusion">
                    <div class="str">
                        結果
                        <span class="colon">：</span>
                        <div class="hr"></div>
                        ユーザーのリピート率UP・広告収入UP!
                    </div>
                </div>
            </div>
        </section>
        
        <section class="three">
            <div class="block">
                <h2>
                    リアルタイムなLIVE数ランキング
                </h2>
                <div class="content">
                    <div id="talknEmbed2" class="talknEmbed"></div>
                </div>
                <div class="children">
                    <h3>配下ページにアクセス</h3>
                    <ul class="country_demo">
                        <li class="en">
                            <span class="lang">English(en)</span>
                            <span class="add">＋</span>
                            <span class="reduce">-</span>
                            <span class="liveCnt">0</span>
                        </li>
                        <li class="zh">
                            <span class="lang">简体中文(zh)</span>
                            <span class="add">＋</span>
                            <span class="reduce">-</span>
                            <span class="liveCnt">0</span>
                        </li>
                        <li class="ja">
                            <span class="lang">日本語(ja)</span>
                            <span class="add">＋</span>
                            <span class="reduce">-</span>
                            <span class="liveCnt">0</span>
                        </li>
                        <li class="de">
                            <span class="lang">Deutsch(de)</span>
                            <span class="add">＋</span>
                            <span class="reduce">-</span>
                            <span class="liveCnt">0</span>
                        </li>
                        <li class="fr">
                            <span class="lang">Français(fr)</span>
                            <span class="add">＋</span>
                            <span class="reduce">-</span>
                            <span class="liveCnt">0</span>
                        </li>
                        <li class="hi">
                            <span class="lang">हिंदी(hi)</span>
                            <span class="add">＋</span>
                            <span class="reduce">-</span>
                            <span class="liveCnt">0</span>
                        </li>
                        <li class="pt">
                            <span class="lang">Português(pt)</span>
                            <span class="add">＋</span>
                            <span class="reduce">-</span>
                            <span class="liveCnt">0</span>
                        </li>
                        <li class="it">
                            <span class="lang">Italiano(it)</span>
                            <span class="add">＋</span>
                            <span class="reduce">-</span>
                            <span class="liveCnt">0</span>
                        </li>
                        <li class="ru">
                            <span class="lang">русский(ru)</span>
                            <span class="add">＋</span>
                            <span class="reduce">-</span>
                            <span class="liveCnt">0</span>
                        </li>
                        <li class="ko">
                            <span class="lang">한국(ko)</span>
                            <span class="add">＋</span>
                            <span class="reduce">-</span>
                            <span class="liveCnt">0</span>
                        </li>
                        <li class="es">
                            <span class="lang">Español(es)</span>
                            <span class="add">＋</span>
                            <span class="reduce">-</span>
                            <span class="liveCnt">0</span>
                        </li>
                        <li class="id">
                            <span class="lang">Indonesio(id)</span>
                            <span class="add">＋</span>
                            <span class="reduce">-</span>
                            <span class="liveCnt">0</span>
                        </li>
                        <li class="tr">
                            <span class="lang">Turco(tr)</span>
                            <span class="add">＋</span>
                            <span class="reduce">-</span>
                            <span class="liveCnt">0</span>
                        </li>
                        <li class="nl">
                            <span class="lang">Holandes(nl)</span>
                            <span class="add">＋</span>
                            <span class="reduce">-</span>
                            <span class="liveCnt">0</span>
                        </li>
                        <li class="ar">
                            <span class="lang">العربية(ar)</span>
                            <span class="add">＋</span>
                            <span class="reduce">-</span>
                            <span class="liveCnt">0</span>
                        </li>
                        <li class="zh-TW">
                            <span class="lang">繁体中文(zh-TW)</span>
                            <span class="add">＋</span>
                            <span class="reduce">-</span>
                            <span class="liveCnt">0</span>
                        </li>
                        <li class="pl">
                            <span class="lang">Polski(pl)</span>
                            <span class="add">＋</span>
                            <span class="reduce">-</span>
                            <span class="liveCnt">0</span>
                        </li>
                        <li class="sv">
                            <span class="lang">svenska(sv)</span>
                            <span class="add">＋</span>
                            <span class="reduce">-</span>
                            <span class="liveCnt">0</span>
                        </li>
                        <li class="th">
                            <span class="lang">Thailändska(th)</span>
                            <span class="add">＋</span>
                            <span class="reduce">-</span>
                            <span class="liveCnt">0</span>
                        </li>
                        <li class="fa">
                            <span class="lang">فارسی(fa)</span>
                            <span class="add">＋</span>
                            <span class="reduce">-</span>
                            <span class="liveCnt">0</span>
                        </li>
                        <li class="nn">
                            <span class="lang">norsk(nn)</span>
                            <span class="add">＋</span>
                            <span class="reduce">-</span>
                            <span class="liveCnt">0</span>
                        </li>
                        <li class="ga">
                            <span class="lang">Gaeilge(ga)</span>
                            <span class="add">＋</span>
                            <span class="reduce">-</span>
                            <span class="liveCnt">0</span>
                        </li>
                        <li class="he">
                            <span class="lang">עברית(he)</span>
                            <span class="add">＋</span>
                            <span class="reduce">-</span>
                            <span class="liveCnt">0</span>
                        </li>
                        <li class="mr">
                            <span class="lang">Melayu(mr)</span>
                            <span class="add">＋</span>
                            <span class="reduce">-</span>
                            <span class="liveCnt">0</span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</body>
</html>